@media (min-width: 1128px){
  .Home {
    .home-content {
      margin-bottom: 0px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      position: relative !important;
    }
  }
}
.Home {
  .home-content {
    max-width: 1080px !important;
    margin-top: -96px !important;
  }
  .ant-input-lg {
    height: 72px;
    padding: 14px 11px;
    font-size: 16px;
    line-height: 72px;
  }
  .ant-btn-lg {
    height: 72px;
    padding: 0 27px;
    font-size: 16px;
    border-radius: 4px;
  }
  .metadata {
    padding: 20px 0;
    .ant-btn {
      margin-right: 16px;
    }
  }
}